@model Club


<div  class="container">
    <div class="row">
        <div class="col-lg-7 mb-4 mb-sm-0">
            <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
        </div>
        <!--end of col-->
        <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
            <div>
                <h1 class="mb-2">@Model.Title</h1>
                <h1 class="lead mb-3">@Model.Description</h1>
                <h2 class="lead mb-3">@Model.Address.City</h2>
                <h2 class="lead mb-3">@Model.Address.State</h2>

                <div>
                    <span class="badge badge-secondary mr-3">@Model.ClubCategory</span>
                    
                </div>
                <div>
                    <ul class="list-inline text-small d-inline-block mb-3">
                        <li class="list-inline-item"><i class="icon-thumbs-up"></i> 214</li>
                        <li class="list-inline-item"><i class="icon-message"></i> 6</li>
                    </ul>
                </div>
            </div>
            <div>

                </div>

